<html>

<body style="padding: 25px">

  <!-- This is project for job application -->
  <div class="flex-container">
    <div class="flex-item">
      <img src="../assets/img/dhi-logo-sm.svg" class="logoImage">
    </div>
    <div class="flex-item">
      <h2>This is test task for <span class="gradient-text-1">Jure Marko</span></h2>
    </div>
    <div class="flex-item">
      <img src="../assets/img/dhi-logo-sm.svg" class="logoImage">
    </div>
  </div>

  <!-- Calculations with history -->
  <div class="flex-container">
    <div class="flex-item">
      <h1>Calculate the sum of</h1>

      <span class="digit">{{ number1 }}</span>
      <span class="operator">+</span>
      <span class="digit">{{ number2 }}</span>
      <span class="operator">=</span>

      <mat-form-field class="example-full-width">
        <!-- <mat-label>Result</mat-label> -->
        <input matInput placeholder="Please enter result" [(ngModel)]="summedNumber" type="number"
          (keydown.enter)="onSubmit()">
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)="generateNewDigits()">
          Try different digits
        </button>
      </div>

      <div *ngIf="calculationHistory.length > 0" style="margin-top: 30px;">
        <h2>Calculations history</h2>

        <table mat-table [dataSource]="dataSource" #calculationHistoryTable>
          <ng-container matColumnDef="calculation">
            <th mat-header-cell *matHeaderCellDef>Calculation</th>
            <td mat-cell *matCellDef="let element"> {{element.calculation}} </td>
          </ng-container>

          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef>Result</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.isCorrect" class="success-color" style="display: inline-flex; vertical-align: text-bottom; align-items: center;">
                <span>CORRECT</span>
                <span class="material-icons margin-left-5">check_circle</span>
              </div>
              <div *ngIf="!element.isCorrect" class="error-color" style="display: inline-flex; vertical-align: text-bottom; align-items: center;">
                <span>WRONG</span>
                <span class="material-icons margin-left-5">error</span>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
      </div>


    </div>
  </div>

</body>

</html>